<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="mainproduct" routerLinkActive="active">บัญชีวัสดุทันตกรรม</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="mainproductin" routerLinkActive="active">บัญชีรับเข้า</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="mainproductout" routerLinkActive="active">บัญชีเบิกจ่าย</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="report" routerLinkActive="active">รายงานเบิกจ่าย</a>
  </li>
</ul>

   <router-outlet></router-outlet>