  .fb-header{
  background-color:#3b5998;
  color:white    
    }
    	
    .fb-header2{
  background-color:#8b9dc3;
  color:white    
    }

    .fb-body{
	    background-color:#dfe3ee;  
  color:black   
    }
     .fb-btnok{
  background-color:#3b5998;
  color:white    
    }
     .fb-btncancel{
  background-color:#f7f7f7;  
  color:black   
    }
    